* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #F6F7F8;
}

.app h1{
    font-size: 3rem;
    padding: 20px 200px;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.3);
    color: #072635;
}