.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 18px;
  left: 18px;
  width: 90%;
  height: 72px;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li{
  margin: 0px 15px;
}

.active{
  background-color: aquamarine;
}