.patientsListContainer {
  width: 23%;
  height: 1054px;
  background-color: white;
  border-radius: 16px;
}

.patientListHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.patientListHeader h1 {
  color: #072635;
  font: normal normal 800 24px/33px Manrope;
}

.patientListHeader img {
  cursor: pointer;
}

.patientsListContainer ul {
  height: 961px;
  overflow-y: scroll;
  padding: 0px 20px;
}

.patientsListContainer ul::-webkit-scrollbar {
  width: 6px;
  background: #e3e4e6 0% 0% no-repeat padding-box;
}

.patientsListContainer ul::-webkit-scrollbar-thumb {
  width: 6px;
  height: 100px;
  background: var(--unnamed-color-072635) 0% 0% no-repeat padding-box;
  border-radius: 3px;
}

.patient,
.patientImg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patient {
  height: 48px;
  margin: 32px 0px;
  cursor: pointer;
}
.patient:hover {
  background: var(--activestate_bg_2) 0% 0% no-repeat padding-box;
}

.patientImg img {
  width: 48px;
  height: 48px;
  margin: 0px 12px 0px 0px;
}

.patientImg h3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
    var(--unnamed-font-family-manrope);
  color: var(--unnamed-color-072635);
  font: normal normal bold 14px/19px Manrope;
  color: #072635;
}

.patientImg p {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  color: var(--unnamed-color-707070);
  font: normal normal normal 14px/19px Manrope;
  color: #707070;
}
